.space h2 {
    margin: 3% auto;

    text-align: center;
    color: white;

}

.space {
    background-color: brown;
    padding-top: 1%;
}

.space h3 {
    margin: auto 8%;
}

.space .det label,
.space .det input[type=text] {
    display: flex;
    flex-direction: column;
    margin-left: 8%;

}

.space .det label {
    margin-top: 2%;
    color: white;

}

.space .det input[type=text] {
    width: 80%;
    padding: 1%;
    font-size: large;
    background-color: lightblue;
}

.space button {
    margin: 3% auto auto 8%;
    width: 20%;
    height: 2rem;
    font-size: large;

}

.space .qrcode {
    height: 5%;
    width: 10%;
    border: 1px solid black;
    background-color: bisque;
    margin: 3% auto 3% auto;
    overflow: hidden;
}